RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !on
RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Ferme-du-petit-marais.html [L]
RewriteCond %{HTTP_HOST} ^ferme\-du\-petit\-marais\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ferme\-du\-petit\-marais\.com$
RewriteRule ^/?$ "http\:\/\/ferme\-du\-petit\-marais\.com\/Ferme\-du\-petit\-marais\.html" [R=301,L]



